body { padding: 50px 0; }
h1 { border-bottom: 1px solid #CCC; margin-bottom: 20px; }
h4 { border-bottom: 1px solid #F0F0F0; margin: 10px 0; }
h4 .btn { float: right; -webkit-user-select: none; margin-top: 8px; box-shadow: -10px 0 0 #FFF; }
.label { margin: -8px 0 0 10px; display: inline-block; } 

.code { display: block; padding: 8.5px; font-family: Menlo, Monaco, "Courier New"; margin: 0 0 9px; font-size: 12.025px; line-height: 18px; background-color: whiteSmoke; border: 1px solid #CCC; border: 1px solid rgba(0, 0, 0, 0.15); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8;-webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; -moz-tab-size: 4; -o-tab-size:   4; tab-size:      4; }
.code ol { margin: 0 0 0 33px; list-style: decimal; }
.code li { white-space: pre; white-space: pre-wrap; word-break: break-all; word-wrap: break-word; padding-left: 12px; color: #BEBEC5; line-height: 18px; text-shadow: 0 1px 0 white; }
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .code .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }